# Ignore build outputs
bin/
obj/
.vs/

# Ignore logs and state files
EasySave/Logs/
EasySave/state.json

# Ignore BenchmarkDotNet artifacts
**/BenchmarkDotNet.Artifacts/

# Ignore config files
**/config.json
